# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

/playwright-report
/test-results
**/venv/

# Logs
logs
*.log

# Dependency directories
/node_modules
node_modules/
node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build
dashboard/dist/

# TypeScript cache
*.tsbuildinfo

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
node_modules/d3-time-format/dist/d3-time-format.js
node_modules/d3-time-format/dist/d3-time-format.min.js
node_modules/d3-time-format/locale/ar-EG.json
node_modules/d3-time-format/locale/ar-SY.json
node_modules/d3-time-format/locale/ca-ES.json
node_modules/d3-time-format/locale/cs-CZ.json
node_modules/d3-time-format/locale/da-DK.json
node_modules/d3-time-format/locale/de-CH.json
node_modules/d3-time-format/locale/de-DE.json
node_modules/d3-time-format/locale/en-CA.json
node_modules/d3-time-format/locale/en-GB.json
node_modules/d3-time-format/locale/en-US.json
node_modules/d3-time-format/locale/es-ES.json
node_modules/d3-time-format/locale/es-MX.json
node_modules/d3-time-format/locale/fa-IR.json
node_modules/d3-time-format/locale/fi-FI.json
node_modules/d3-time-format/locale/fr-CA.json
node_modules/d3-time-format/locale/fr-FR.json
node_modules/d3-time-format/locale/he-IL.json
node_modules/d3-time-format/locale/hr-HR.json
node_modules/d3-time-format/locale/hu-HU.json
node_modules/d3-time-format/locale/it-IT.json
node_modules/d3-time-format/locale/ja-JP.json
node_modules/d3-time-format/locale/ko-KR.json
node_modules/d3-time-format/locale/mk-MK.json
node_modules/d3-time-format/locale/nb-NO.json
node_modules/d3-time-format/locale/nl-BE.json
node_modules/d3-time-format/locale/nl-NL.json
node_modules/d3-time-format/locale/pl-PL.json
node_modules/d3-time-format/locale/pt-BR.json
node_modules/d3-time-format/locale/ru-RU.json
node_modules/d3-time-format/locale/sv-SE.json
node_modules/d3-time-format/locale/tr-TR.json
node_modules/d3-time-format/locale/uk-UA.json
node_modules/d3-time-format/locale/zh-CN.json
node_modules/d3-time-format/locale/zh-TW.json
node_modules/d3-time-format/src/defaultLocale.js
node_modules/d3-time-format/src/index.js
node_modules/d3-time-format/src/isoFormat.js
node_modules/d3-time-format/src/isoParse.js
node_modules/d3-time-format/src/locale.js
node_modules/d3-path/LICENSE
node_modules/d3-path/package.json
node_modules/d3-path/README.md
node_modules/d3-path/dist/d3-path.js
node_modules/d3-path/dist/d3-path.min.js
node_modules/d3-path/src/index.js
node_modules/d3-path/src/path.js
node_modules/d3-time-format/LICENSE
node_modules/d3-time-format/package.json
node_modules/d3-time-format/README.md
